* {
	box-sizing: border-box;
	font-family: 'PT Mono';
}

body {
	font-family: 'Open Sans', sans-serif;
	background: rgb(255, 230, 241);
	background: linear-gradient(176deg, rgba(255, 230, 241, 1) 0%, rgba(255, 66, 149, 1) 85%);
	background-repeat: no-repeat;
}

header .nav-item {
	margin: 0.5rem
}

header .nav-item img {
	max-width: 6rem;
	max-height: 6rem;
}

main .intro {
	margin: 2rem;
	text-align: center
}

div h3 {
	font-family: 'Figtree';
	font-weight: bold;
	cursor: pointer;
	color: rgba(0, 0, 0, 0.7);
}


div h3.tiping {
	margin-left: 36%;
	border-right: solid 3px rgba(0, 0, 0, 0.75);
	white-space: nowrap;
	overflow: hidden;
	font-size: 28px;
	color: rgba(0, 0, 0, 0.7);
}

/* Animacion */
div h3.tiping {
	animation: animated-text 4s steps(25, end) 1s 1 normal both,
		animated-cursor 600ms steps(20, end) infinite;
}

/* texto */

@keyframes animated-text {
	from {
		width: 0;
	}

	to {
		width: 330px;
	}
}

/* cursor */

@keyframes animated-cursor {
	from {
		border-right-color: rgba(0, 0, 0, 0.75);
	}

	to {
		border-right-color: transparent;
	}
}

div h4 {
	font-family: 'Raleway';
	font-size: 1em;
}

.login {
	position: absolute;
	top: 60%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width: 300px;
	height: 300px;

}

.login h2 {
	color: #fff;
	text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
	letter-spacing: 1px;
	text-align: center;
	margin-top: 30px
}


input {
	width: 100%;
	margin-bottom: 10px;
	background: rgba(0, 0, 0, 0.3);
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 4px;
}

input:focus {
	box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
}

main .login form .forgot a {
	font-size: 0.9rem;
	margin-left: 5rem;
	color: rgba(255, 66, 149, 1);
}

main .login form button {
	background-color: rgba(255, 66, 149, 1);
	border: none;
}

main .login form button:hover {
	background-color: pink;
}

main .login div {
	font-size: 1rem;
	padding: 10px;
}

main .login div a {
	color: rgba(255, 66, 149, 1);
}

main .yo {
	margin-top: 40%;
	margin-left: 2rem;
	margin-right: 2rem;
}

main .yo .caja-foto {
	display: flex;
}

main .yo .caja-foto img {
	max-width: 35rem;
	max-height: 35rem;
}

main .yo .caja-foto p {
	margin-top: 6rem;
}

footer {
	margin-top: 2rem;
	height: auto;
	background-color: rgb(255, 185, 196);
}

footer .footer-content {
	background-color: rgb(255, 185, 196);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	padding-top: 2em;
}

footer .footer-content h3 {
	background-color: rgb(255, 185, 196);

}

.socials {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(255, 185, 196);

}

.socials li {
	margin: 0 10px;
	background-color: rgb(255, 185, 196);

}

.socials a {
	text-decoration: none;
	color: #000;
	background-color: rgb(255, 185, 196);

}

.socials li a img {
	width: 2em;
	height: 2em;
	background-color: rgb(255, 185, 196);

}

footer .footer-content .socials li a:hover {
	font-size: 1.2rem;

}

footer .footer-content p img {
	width: 1.5em;
	height: 1.5em;
}

@media (max-width: 45em) {

	/* 720px*/
	header .nav-item img {
		max-width: 3rem;
		max-height: 3rem;
	}

	main .yo .caja-foto {
		display: block;
	}

	main .yo .caja-foto img {
		width: 110%;
		margin-top: 17rem;

	}

	main .yo .caja-foto p {
		margin-top: 0;
	}

}

@media (min-width: 45.06em) and (max-width: 56em)

/*721 to 920*/
	{
	header .nav-item img {
		max-width: 5rem;
		max-height: 5rem;
	}

	main .login h2 {
		margin-top: 10%;
	}

	main .yo .caja-foto {
		display: block;
	}

	main .yo .caja-foto img {
		width: 110%;
	}

	main .yo .caja-foto p {
		margin-top: 0;
	}


}